@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif


    }

    body {
        background-image: linear-gradient(to right,#99C0C7,#8CA8AB);
    }
    
    main {
        background-color:  white;
        border-radius: 10px;
        box-shadow:  5px 5px 15px #697d80d1;
        width: 600px;
        padding: 10px;
        margin: auto;
    }

    h1 {
        color: #3B6E89;
        text-align: center;
        text-shadow: 1px 1px 2px #1d3644;
    }

    h2 {
         color: #5897A8;
    }

    p {
        text-align: justify;
    }