@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p {
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2 {
    margin-bottom: 20px;
    line-height: 1.2em;
    text-align: left;
}

header, section.normal {
    padding: 20px;
}

section.flex-content {
    padding: 20px;
    background-color: rgb(152, 173, 195);

    display: flex;
    flex-flow: column nowrap;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    gap: 20px;
}

article > div.text {
    flex: 1 1 500px; 
    min-width: 0px; /* importante */
}

article > div.media {
    flex: 1 1 300px;
    min-width: 0px; /* importante */
}

div.media > img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 10px; 
}

div.media > iframe {
    display: block;
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16/ 9;         
}


